.App {
  font-family: "Montserrat", sans-serif;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  color: rgb(255, 255, 255);
}
.app-background {
  background-color: black;
  background-image: url("/public/images/foggy-weather.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  padding: 10px 30px;
}
button {
  border: none;
  background: none;
  color: rgb(255, 255, 255);
}
header {
  text-align: right;
}
header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
form {
  text-align: center;
}
form input {
  border: 0;
  border-bottom: solid;
  width: 75%;
  background: none;
  color: rgb(255, 255, 255);
}
ul {
  list-style-type: none;
  line-height: 50px;
  padding: 0 70px 0 50px !important;
  font-weight: 600;
}
li {
  display: flex;
  justify-content: space-between;
}
footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 20px;
}
footer a {
  color: rgb(255, 255, 255);
}
hr {
  margin: 11px 0 !important;
  color: white !important;
  opacity: 0.4 !important;
}

.grid {
  display: grid;
}
.grid-2-columns {
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.forecast-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inactive {
  text-decoration: underline;
}
.inactive:hover {
  cursor: pointer;
}
.secondary-color-clear {
  color: rgb(255, 232, 219);
}
.secondary-color-thunderstorm {
  color: rgb(255, 244, 202);
}
.secondary-color-mist {
  color: rgb(150, 192, 207);
}
.secondary-color-cloudy {
  color: rgb(85, 118, 130);
}
.secondary-color-rain {
  color: rgb(255, 244, 202);
}
.secondary-color-snow {
  color: rgb(73, 144, 89);
}
@media (max-width: 960px) {
  .grid {
    display: block;
  }
}
@media (max-width: 500px) {
  .App {
    width: 500px;
  }
}
