.App {
  font-family: "Montserrat", sans-serif;
  height: auto;
  margin: 0 auto;
  color: rgb(255, 255, 255);
}
.app-background {
  padding: 10px 30px;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 20px;
}
footer a {
  color: rgb(255, 255, 255);
}
hr {
  margin: 11px 0 !important;
  color: white !important;
  opacity: 0.4 !important;
}

.grid {
  display: grid;
}
.grid-2-columns {
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.forecast-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-clear {
  background-image: url("/public/images/clear.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
.background-mist {
  background-image: url("/public/images/foggy-weather.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
.background-cloudy {
  background-image: url("/public/images/clouds.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
.background-rain {
  background-image: url("/public/images/rain.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
.background-thunderstorm {
  background-image: url("/public/images/thunderstorm.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
.background-snow {
  background-image: url("/public/images/snow.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
.secondary-color-clear {
  color: rgb(255, 232, 219);
}
.secondary-color-thunderstorm {
  color: rgb(255, 244, 202);
}
.secondary-color-mist {
  color: rgb(150, 192, 207);
}
.secondary-color-cloudy {
  color: rgb(85, 118, 130);
}
.secondary-color-rain {
  color: rgb(255, 244, 202);
}
.secondary-color-snow {
  color: rgb(73, 144, 89);
}
.inactive {
  text-decoration: underline;
}
.inactive:hover {
  cursor: pointer;
}
@media (max-width: 960px) {
  .grid {
    display: block;
  }
}
@media (max-width: 500px) {
  .App {
    width: 500px;
  }
}
