.drop-down-button,
.close-drop-down-button {
  display: none !important;
}

@media (max-width: 960px) {
  .drop-down-button,
  .close-drop-down-button {
    display: block !important;
  }
  .currentInfo {
    display: none !important;
  }
}
