.forecast-weather {
  font-size: 29px;
  text-align: center;
}
.forecast-temp {
  font-weight: 600;
}
.forecast-day {
  font-weight: 600;
}
.forecast-date {
  font-weight: 500;
  font-size: 14px;
}
@media (max-width: 500px) {
  .forecast-weather {
    text-align: left;
  }
}
